#table-area {
    width: 100vw;
    height: 60vh;
    position: relative;
    margin: 0 auto 2em auto;
}

#dealer-area {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#players-area {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

.player-seat {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
}

.player-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;
}

.player-name {
    font-weight: bold;
    margin-bottom: 0.2em;
    background: #fff8;
    border-radius: 6px;
    padding: 0.2em 0.7em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}